
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->    
 
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>home</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">

<style>

.header-main {
  font-family: "Lucida Console", Courier, monospace;

}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  font-family: "Lucida Console", Courier, monospace;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  font-family: "Lucida Console", Courier, monospace;
}
</style>
</head>


<body>

<div class="header-main">
  <h1>SURREAL NEWS</h1>
  <h3>News you wouldn't think happened ... until it did.</h3>
</div>
<br></br>
<div class="flex-container">
  <div style="flex-grow: 1">1</div>
  <div style="flex-grow: 3">3</div>
</div>

</body>


</html>
